<!DOCTYPE html>
<html>
<head>  
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    padding: 15px;
  }

  table {
   border-spacing: 5px;
   width: 50%;
  }

  tr th:nth-child(1) {
  width: 5%;
}

  tr th:nth-child(2) {
  width: 10%;
}

  tr th:nth-child(3) {
  width: 30%;
}

  tr th:nth-child(4) {
  width: 40%;
}

thead th:nth-child(5) {
  width: 15%;
}

  .qty {
    width: 40px;
    padding: 8px;
    border: 0;
  }

  td {
    font-size: 14px;
    padding: 8px;
  }
  </style>
</head>

<h1>Here are all the accessories for the <%= @model.name %></h1>

<form action="/model" method="POST">
  <table>
    <tr>
      <th>Quantity</th>
      <th>Product id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Price</th>
    </tr>
    <% @model.accessories.each do |accessory| %>
    <tr>
      <td><input class="qty" type="number" name="<%= accessory.id %>"></td>
      <td><%= accessory.product_id %></td>
      <td><%= accessory.name %></td>
      <td><%= accessory.description %></td>
      <td><%= accessory.unit_price %></td>
    </tr>
    <% end %>
    
    
    
  </table>
  <input type="submit">
</form>
</html>